.BoardContainer {
  background-color: var(--board-color);
  padding: var(--cell-space);
  border-radius: calc(var(--cell-border-radius) + 6px);

  position: relative;
}

.GameBoard {

  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  .Row {
    // background: silver;
    height: var(--cell-size);

    &:not(:last-child) {
      margin-bottom: var(--cell-space);
    }
  }
}